version: '3.8'
services:
  app:
    depends_on:
      - mongodb
    container_name: chatbot-api
    build: .
    ports:
      - 8000:8000
    env_file:
      - ./.env

  mongodb:
    image: mongo:latest
    env_file:
      - .env
    ports:
      - '27017:27017'
    environment:
      - "MONGO_INITDB_DATABASE=${MONGO_DB}"
      - "MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}"
      - "MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}"
    
  